
#allproductsshow{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* height: 1500px; */
}

#productshow{
    width: 22%;
    height: 500px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 50px;
    padding: 10px;
    overflow: hidden;
}

#productshow > img{
    /* border-radius: 50%; */
    width: 50%;
    height: 30%;
    margin-top: 10px;
}

#productshow > p{
    margin-top: 15px;
    font-size: 11px;
}
